name: Semgrep SAST
on: [push, pull_request]

jobs:
    semgrep:
        runs-on: ubuntu-latest
        container:
            image: semgrep/semgrep
        steps:
            - uses: actions/checkout@v4

            - name: Run Semgrep with Strict Rules
              run: |
                  semgrep scan \
                    --config="p/default" \
                    --error \
                    --verbose
