name: Semgrep SAST
on: [push, pull_request]

jobs:
    semgrep:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        steps:
            - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
            - name: Run Semgrep with Strict Rules
              run: |
                  docker run --rm -v "${{ github.workspace }}:/src" \
                      semgrep/semgrep semgrep scan \
                      --config="p/default" \
                      --sarif --output=semgrep.sarif \
                      --error \
                      --verbose
            - name: Upload SARIF to GitHub
              uses: github/codeql-action/upload-sarif@v3
              if: always()
              with:
                  sarif_file: semgrep.sarif
