name: Semgrep SAST
on: [push, pull_request]

jobs:
    semgrep:
        runs-on: ubuntu-latest
        container:
            image: semgrep/semgrep
        steps:
            - uses: actions/checkout@v4
            - run: semgrep scan --config=auto
